<% if type == "Create" %>
  <% action = notes_url %>
  <% method = :post %>
<% elsif type == "Save" %>
  <% action = note_url(note) %>
  <% method = :patch %>
<% end %>


<form class="main-body" action="<%=action%>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%=method%>">
  <input type="hidden" name="note[track_id]" value="<%=note.track_id%>">
  <textarea id="note_text" rows="8" class="note" name="note[note_text]"><%=note.note_text%></textarea>
  <p>
    <input class="submit-button" type="submit" name="submit" value="<%= type %> Note">
  </p>
</form>
