<h1><%=@band.name%></h1>

<%= render "errors/errors" %>

<section class="main-body">
  <ul class="center">
    <% @band.albums.order(:year).each do |album| %>
      <li><a href="<%=album_url(album.id)%>"><%=album.title%></a></li>
    <% end %>
  </ul>
</section>

<a class="button" href="<%=new_band_album_url(@band)%>">Create An Album</a>
<a class="button" href="<%=edit_band_url(@band)%>">Edit This Band</a>
<a class="button" href="<%=band_url(@band)%>" data-method="delete">Delete This Band</a>
